body{
    margin: 200px 400px;
}


/*Div Entete*/
.conEnt{
    width: 500px;
    height: auto;

}

.conEnt h1{
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Verdana';
    color: #0E905A;
    text-transform: uppercase;
    text-align: center;
}

/* Div container*/
.container{
    top: 600px;
    left: 300px;
}
table tr td{
    margin: 10px;
}
input{
    height: 30px;
    margin: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #0E905A; 
}

/* Bouton*/
button{
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans';
    background-color: #0E905A;
    font-weight: bold;
    color:white;
    width: 150px;
    height: 40px;
    border: 1px solid #001;
    text-transform: uppercase;
    border-radius: 10px 10px 10px 10px;
}
.boutton{
    text-align: center;
}
.boutton a{
    color: #fff;
    background-color:#0E905A;
    width: 70px;
    height: 70px;
    text-decoration: none;
    border-radius:20px 20px;
}
.Acompte{
    text-align: center;
}
.Acompte a{
    color:#0E905A;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 12px;
}

button a {
    color:white;
    text-decoration: none;
}

.menu{
    width: 500px;   
}

.menu ul {
    display: flex;
    padding: 10px 10px;
    border-bottom: 1px solid #0E905A;
}
.menu ul li {
    text-transform: uppercase;
    list-style-type: none;
    padding: 10px 10px;
   
}

.menu ul li a{
    color:#0E905A;
    font-size: 14px;
    font-family: "Verdana";
    text-decoration: none;
    font-weight: bold;
}

/* Responsive*/
@media screen and (max-width: 1000px) {
    body{
        margin: 70px 200px;
    }   
    
}

@media screen and (max-width: 900px) {
    body{
        margin: 70px 150px;
    }   
    
}

@media screen and (max-width: 700px) {
    body{
        margin: 70px 100px;
    }   
    
}

@media screen and (max-width: 550px) {
    body{
        margin: 50px 70px;
    }   
    
}

@media screen and (max-width: 250px) {
    body{
        margin: 50px 70px;
    }   
    
}

@media screen and (max-width: 100px) {
    body{
        margin: 50px 70px;
    }   
    
}
